{
  "presets": ["env", "react", "stage-2"],
  "plugins": [
    "transform-decorators-legacy",
    "transform-react-jsx",
    ["transform-class-properties", { "loose": true }],
    "transform-object-rest-spread"
  ]
}
