@import "variables";

.menu {
  position: relative;
  padding: 20px;
  pointer-events: initial;
  cursor: default;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: 0.25;
  z-index: -2;
}

.menu-scroll {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.menu-title {
  margin: 0 auto 20px auto;
  padding: 12px 50px;
  font-size: 32px;
  font-weight: 900;
  text-align: center;
  color: $text-dark-color;
}

#hud {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  z-index: 1000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  // Disable pointer events on the HUD container, but re-enable on children
  pointer-events: none;
  & > * {
    pointer-events: initial;
  }

  label {
    text-align: center;
    display: block;
    margin-bottom: 20px;
    text-align: center;
  }

  .slider {
    width: 60%;
    display: block;
    margin: 10px auto 0 auto;
  }

  .menu {
    #about {
      text-align: center;
      font-size: 18px;
      width: 32px;
      height: 32px;
      text-shadow: 2px 2px rgb(64, 64, 64);
      transition: all 0.1s ease-in-out;
      position: absolute;
      bottom: 2rem;
      left: 2rem;
      &:hover {
        cursor: pointer;
        color: #c7c3ad;
        transition: all 0.1s ease-in-out;
      }
    }
  }

  #about-menu {
    padding: 36px;

    .brand {
      width: 100%;
      .created-by {
        font-size: 10px;
        text-align: center;
      }
      .logo-wrap {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          margin: 12px;
          border-radius: 12px;
        }
        .logo-text {
          font-size: 32px;
        }
      }
    }

    #credits-wrap {
      width: 80%;
      margin: auto;
      text-align: center;

      #credits-title {
        font-size: 16px;
      }
      a {
        display: block;
        text-decoration: none;
        color: #fff;
        transition: all 0.1s ease-in-out;
        &:hover {
          color: #c7c3ad;
          transition: all 0.1s ease-in-out;
        }
      }
    }

    .links {
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        margin: 12px;
        transition: all 0.1s ease-in-out;
        &:hover {
          opacity: 0.5;
          cursor: pointer;
          transition: all 0.1s ease-in-out;
        }
      }
    }
  }
}
